*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto Light",sans-serif;
}
body{
    background: #34568B;
}

/*
#FF6F61
#34568B
LOGIN
*/
.loginbody{
    color: white;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.wrapper{
    width: 100%;
    line-height: 3;
    background: #9B2335;
    color: white;
    padding: 30px 40px;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px 0 0 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.wrapper .button {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #9B2335;
    font-weight: 600;
    margin: 15px 0 40px 0;
}
/*
ENDLOGIN
*/


/*
NAVBAR
*/
.navsearch{
    display: inline-block;
}
.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    background: white;
}
.search-input{
    font-size: 16px;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 200px;
}
nav{
    background: #9B2335;
    height: 80px;
    width: 100%;
    margin: 0 0 30px 0;
    z-index: 9999;
}
.logo{
    color: white;
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
}
a .active, a:hover{
    background: #FF6F61;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: 25px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.sticky{
    position: sticky;
    top: 0;
}
@media (max-width: 1060px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #34568B;
        top: 80px;
        left: -200%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.hover, a.active{
        background: none;
        background: darkcyan;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .dropdown{
        display: none;
    }
    .hiddenbutton{
        display: inline-block;
    }
}
/*
ENDNAVBAR
*/

/*
CREATE
*/
.wrapper .textarea-box{
    position: relative;
    width: 100%;
    height: 150px;
    margin: 15px 0 0 0;
}
.textarea-box textarea{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    padding: 20px 45px 20px 20px;
}
/*
ENDCREATE
*/

/*
EVENTS
*/
.eventcontainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.event{
    width: 300px;
    height: 500px;
    background: #9B2335;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.pic{
    width: 80%;
    height: 100%;
}
.picdiv{
    margin: 0 0 10px 0;
    height: 60%;
}
/*
ENDEVENTS
*/

/*


EVENT
*/
.singleeventcontainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
.singleevent{
    max-width: 800px;
    height: auto;
    background: #9B2335;
    color: white;
    text-align: center;
    padding: 10px;
    display: inline-block;
}
.container {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}
.event-image {
    width: 400px;
    height: auto;
    float: left;
    margin-right: 20px;
    border-radius: 40px;
}
.eventpicture{
    width: 100%;
    height: auto;
}
.event-details {
    width: 300px;
    overflow: hidden;
    margin: 0 0 25px 0;
    text-align: center;
}
.event-details h2 {
    font-size: 28px;
    margin-top: 0;
    padding: 20px 0 20px 0;
    color: white;
}
.event-details p {
    font-size: 18px;
    margin-top: 5px;
    padding: 5px;
    font-family: "Calibri", serif;
}
p{
    line-height: 20px;
}
.line{
    border-bottom: 4px solid white;
    display: block;
    opacity: 80%;
    margin: 5px 0 5px 0;
}
.colorwhite{
    color: white;
}
.mainbuttonsdiv{
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 10px 0 0 0;
}
.mainbuttons{
    display: inline-block;
    color: white;
    font-size: 17px;
    padding: 10px;
    text-transform: uppercase;
    background-color: #9B2335;
    transition: .5s;
    margin: 10px 0 0 0;
}
button{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

/*
ENDEVENT
*/
.backbutton{
    width: 30px;
    height: 30px;
    color: white;
}
.eventanchor{
    color: yellowgreen;
}

